form{
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
}

body{
    width: auto;
    height: 720px;
}

.title{
    font: bold 50px 標楷體;
    text-align:center;
}

.content{
    font: bold 17px 標楷體;              
}

.small_content{
    font: bold 10px 標楷體;
}

.container{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.center{
    float: center;
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}
