body{
    width: auto;
    height: 720px;
}

td {border-width : 1px;}

.title{
    font: bold 40px 標楷體;
    text-align:center;
}

.content{
    font: bold 20px 標楷體;              
}

.margin{
    width: auto;
    margin: left 10px;;
}

.container{
    height: auto;
    width: auto;                
    justify-content: center; 
    align-items: center;
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}
