p{
    font: bold 20px serif;
    text-align: center;
}

body{
    width: auto;
    height: 720px;
    background-color: rgb(250, 250, 250);
}

form{
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
}

.window{
    width: auto;
    height: auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.black{
    background-color: rgb(25, 25, 25);
}

.twhite{
    color: rgb(255, 255, 255);
}

.window2{
    width: 30vh;
    height: 100vh;
}

.window3{
    width: 20vh;
    height: 6.5vh;
    opacity: 0.5;
    border-radius: 10px 10px 10px 10px;
}

.back:hover{
    background-color: rgb(70, 70, 70);
}

.square{
    height: 7vh;
    width: 30vh;
    background-color: rgb(25, 25, 25);
}

.center{
    text-align: center;
    line-height: 250%;
}

.type1{
    font : bold 3em serif;
}

.type2{
    font-weight: bold;
    font-size: 3vh;
}

.type3{
    font-weight: bold;
    font-size: 2vh;
    color : rgb(255, 0, 0);
}

.margin-top{
    margin-top: 2em;
}

.container{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.box{
    margin:auto;
}

.margin{
    margin:0 auto;
}

.hide{
    display:none;
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

#float {
    position: fixed;
    left: 0;
    top: 0;
}

#float2 {
    position: fixed;
    right: 20px;
    bottom: 20px;
}